/* 主色 */
$colorPrimary: #0a9efc;
$colorPrimary-1: #e6f9ff;
$colorPrimary-2: #adebff;
$colorPrimary-3: #85dcff;
$colorPrimary-4: #5ccbff;
$colorPrimary-5: #33b8ff;
$colorPrimary-7: #007dd6;
$colorPrimary-8: #0061b0;
$colorPrimary-9: #00478a;
$colorPrimary-10: #003063;

/* 灰 */
$colorGrey-1: #f7f9fa;
$colorGrey-2: #f0f3f5;
$colorGrey-3: #e6eaed;
$colorGrey-4: #d7dde0;
$colorGrey-5: #c9cfd4;
$colorGrey-6: #b4babf;
$colorGrey-7: #919699;
$colorGrey-8: #626466;
$colorGrey-9: #252626;
$colorGrey-10: #0c0d0d;

/* 文字 */
$textDeepColor: #222;
$textShallowColor: #5c5f61;

/* 辅色 */
$colorSuccess: #67c23a;
$colorWarning: #e6a23c;
$colorDanger: #f56c6c;
$colorInfo: #909399;
